<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#DB0000"/>
  
  <link rel="apple-touch-icon" href="../public/icons/128.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Our Resta</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Lompat ke konten</a>
  <header class='header'>
    <div class="header__inner">
      <h1 class='header__title'>Our Resta</h1>
    </div>
    <button id='menu' class='header__menu' href='#'>☰</button>
  </header>
  <nav id='drawer' class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#/">Home</a></li>
      <li class="nav__item"><a href="#/favorite">Favorite</a></li>
      <li class="nav__item"><a href="https://www.linkedin.com/in/brendan-cicero/" target='_blank'>About Us</a></li>
    </ul>
  </nav>
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">
        Our Resta
      </h1>
      <p class="hero__tagline">
        Best Place to find a restaurant
      </p>
    </div>
  </div>
  <main id="maincontent" tabindex='0'>
  </main>
  <footer>
    <h3>Copyright &#169; 2022, Our Resta</h3>
  </footer>
</body>
</html>
